@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
}

#contact {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff; /* White form background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Added shadow */
}


h2 {
    text-align: center;
    color: #003366; /* Dark blue heading */
}

p {
    text-align: center;
    color: #666; /* Gray text */
}

.form-group {
    margin-bottom: 20px;
}


label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin-bottom: 5px;
    color: #333; /* Darker gray for labels */
}

input[type="text"], input[type="email"], textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7; /* Light gray input background */
}

input:focus, textarea:focus {
    outline: none;
    border-color: #007BFF; /* Blue border on focus */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF; /* Blue button */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.error-message {
    color: red;
    font-size: 12px;
    display: none; /* Initially hidden */
}

small.error-message.show {
    display: block; /* Show error message when the class 'show' is added */
}

